//- includes/basic.jade
doctype html
html
  head
    meta(charset="utf-8", name="viewport", content="width=device-width, initial-scale=1")
    title Salinger MS
    link(rel="icon", href="favicon.ico?v=1.1")
    include ./head.jade
