//- ./includes/footer.jade
.footer
  .icon-box
    a(href='https://www.linkedin.com/in/matthew-min-seong-kim-470138155/')
      img.icon(src='img/icons/linkedin.png')
    a(href='https://github.com/minsikim/')
      img.icon(src='img/icons/github.png')
    a(href='https://medium.com/@minsiua')
      img.icon(src='img/icons/medium.png')
  .footer-info
    p Designed/Developed: Salinger MS.
    p Contact: minsiua@gmail.com 
    p Seoul, South Korea
