//- ./includes/footer.jade
.footer
  .icon-box
    img.icon(src='img/icons/linkedin.png')
    img.icon(src='img/icons/github.png')
    img.icon(src='img/icons/medium.png')
  .footer-info
    p Designed/Developed: Salinger MS.
    p Contact: minsiua@gmail.com 
    p Seoul, South Korea
