//- ./write.jade
form.form-group(action='/write/add',method='post')
  .input-title
    label(for="input-title") Title
    input(name="input_title",id="input-title",type="text", placeholder="Less than 50 characters")
  .input-tags
    label(for="input-tags") Tags
    textarea(name="input_tags",id="input-tags", placeholder="seperate with (,)(/)")
  .input-short-description
    label(for="input-short-description") Short description
    textarea(name="input_short_description",id="input-short-description", placeholder="Write short description")
  .input-description
    label(for="input-description") Main description
    textarea(name="input_description",id="input-description", placeholder="Write long description")
  button(type="submit") Write
