//- ./includes/headrow.jade
.head-row
  .fix-nav
    .menubar
      .menu-icon
      .menu-icon
      .menu-icon
    .titlebar
      span.salinger Salinger
      span.ms  MS
  div(style="height:60px;")
  input.search(type="text", value='search')
  div
    span.main-title Works
