include ./includes/basic.jade
  body(id='dic', style="background-image: url(\"/img/backgrounds/grey_cool.jpg\");")
    .wrapper
      include ./includes/headrow.jade
      .content-wrapper
        .dic-wrapper
          .dic-box
            .dic-word
              .word .html()
              .tag-group
                .tag javascript
                .tag jquery
            .desc Get the HTML contents of the first element in the set of matched<br>elements or set the HTML contents of every matched element.
          .dic-box
            .dic-word
              .word .$()
              .tag-group
                .tag javascript
                .tag jquery
            .desc Get the HTML contents of the first element in the set of<br>matched elements or set the HTML contents of every matched element.
          .dic-box
            .dic-word
              .word .attr()
              .tag-group
                .tag javascript
                .tag jquery
            .desc Get the HTML contents of the first element in the set of matched elements<br>or set the HTML contents of every matched element.
      a.add-icon(href='/write') +
include ./includes/footer.jade
script(type='text/javascript')
  $('.main-title').html('My Dictionary')
