include ./includes/basic.jade
  //- body
  body(style="background-image: url(\"/img/backgrounds/yellow.jpg\");")
    
      a.back(href='#')
      canvas(id='background')
      //- , style='width:100vw height:100vh;
    .wrapper
      include ./includes/headrow.jade
      script(type='text/javascript')
        $('.main-title').html('Hello')
      .content-wrapper
        .introduction-wrapper
          .introduction Hello I'm Salinger</br><div class='small'>MinSeong Kim, South Korea</div></br><span class='small'>an</t></span> Architect/</br><span class='small'>aemsp;</t></span>Developer
          a.work-link(href='/works') > to Works
    .space
  include ./includes/footer.jade
  .info-alert
    p Ctrl+A = Select<br>Del = Delete<br>Click anywhere to draw Path
  script(src="js/line-tracker.js")
  //- script
  //-   $('.info-alert').hide(3000);
