include ./includes/basic.jade
include ./includes/head.jade
  //- body
  body(style="background-image: url(\"/img/backgrounds/yellow.jpg\");")
    
      a.back(href='#')
      canvas(id='background')
      //- , style='width:100vw height:100vh;
    .wrapper
      .head-row
        .fix-nav
          .menubar
            .menu-icon
            .menu-icon
            .menu-icon
          .titlebar
            span.salinger Salinger
            span.ms  MS
        div(style="height:60px;")
        input.search(type="text", value='search')
        div
          span.main-title Works
        
      
      .content-wrapper
        .introduction-wrapper
          .introduction Hello I'm Salinger</br><div class='small'>MinSeong Kim, South Korea</div></br><span class='small'>an</t></span> Architect/</br><span class='small'>aemsp;</t></span>Developer
          .work-link > to Works
    .space
  include ./includes/footer.jade
