include ./includes/basic.jade
  //- body
  body(style="background-image: url(\"/img/backgrounds/white_warm_grid.jpg\");")
      a.back(href='#')
      canvas(id='background')
      //- , style='width:100vw height:100vh;
    .wrapper
      include ./includes/headrow.jade
      .content-wrapper
        .content-box
          .main
            span.title Salinger.me
            .info Web Development, MEAN stack
            .explanation When designing a font you need to see text in paragraphs. But you want to see immediately, no wasting time to pick the words that are only containing alphabets you already made. This is a simple bot to draw words that make sense, and only consists of the words you already made.
          .content-info
            .year 2018
            .tag-group
              a.tag(href='#') #dev
              a.tag(href='#') #design
              a.tag(href='#') #font
        .content-box
          .main
            span.title Font Combination Identifier
            .info Micro Web Development, Java/Algorithms
            .explanation When designing a font you need to see text in paragraphs. But you want to see immediately, no wasting time to pick the words that are only containing alphabets you already made. This is a simple bot to draw words that make sense, and only consists of the words you already made.
          .content-info
            .year 2018
            .tag-group
              .tag #dev
              .tag #design
              .tag #font
        .content-box
          .main
            span.title Korean Dummy Text
            .info Micro Web Development, Javascript
            .explanation When designing a font you need to see text in paragraphs. But you want to see immediately, no wasting time to pick the words that are only containing alphabets you already made. This is a simple bot to draw words that make sense, and only consists of the words you already made.
          .content-info
            .year 2018
            .tag-group
              .tag #dev
              .tag #design
              .tag #font
        .content-box
          .main
            span.title Korean Dummy Text
            .info Micro Web Development, Javascript
            .explanation When designing a font you need to see text in paragraphs. But you want to see immediately, no wasting time to pick the words that are only containing alphabets you already made. This is a simple bot to draw words that make sense, and only consists of the words you already made.
          .content-info
            .year 2018
            .tag-group
              .tag #dev
              .tag #design
              .tag #font
        .content-box
          .main
            span.title Korean Dummy Text
            .info Micro Web Development, Javascript
            .explanation When designing a font you need to see text in paragraphs. But you want to see immediately, no wasting time to pick the words that are only containing alphabets you already made. This is a simple bot to draw words that make sense, and only consists of the words you already made.
          .content-info
            .year 2018
            .tag-group
              .tag #dev
              .tag #design
              .tag #font
        .content-box
          .main
            span.title Korean Dummy Text
            .info Micro Web Development, Javascript
            .explanation When designing a font you need to see text in paragraphs. But you want to see immediately, no wasting time to pick the words that are only containing alphabets you already made. This is a simple bot to draw words that make sense, and only consists of the words you already made.
          .content-info
            .year 2018
            .tag-group
              .tag #dev
              .tag #design
              .tag #font
        .content-box
    .space
  .footer
    //- div(style="background-image: url('/img/logo76.jpg'); width:200px; height:200px")
    img(scr="/logo76.png")
    div
      p Designed/Developed: Salinger MS.
      p Contact: minsiua@gmail.com 
      p Seoul, South Korea
  //- script(src="js/learn.js")
