//- write.jade
include ./includes/basic.jade
  body(id="dic",style="background-image: url(\"/img/backgrounds/blue.jpg\");")
    .wrapper
      include ./includes/headrow.jade
      include ./includes/form.jade
include ./includes/footer.jade
