//- write.jade
include ./includes/basic.jade
  body(style="background-image: url(\"/img/backgrounds/yellow.jpg\");")
    .wrapper
      include ./includes/headrow.jade
    //- include ./includes/form.jade
include ./includes/footer.jade
