doctype html
html
  head
    meta(charset="utf-8", name="viewport", content="width=device-width, initial-scale=1")
    title Salinger MS
    link(rel='stylesheet', href='css/style.css')
    link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css", rel="stylesheet")
    //link(rel="stylesheet" href="css/style.css")

  body 
    .container
      .menubar
        .col-4
          .nav-group
            .nav-salinger Salinger
            .nav-ms MS
            .nav-menu a
        .col-4
          .link-group.col
            div git
            div twitter
            div medium
        .col-4
          .subtitle Hello
    .container
      .menubar
        .col-md-4(style="background:red") 1
        .col-md-4(style="background:blue") 2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus totam fuga, voluptatum quod distinctio asperiores consequatur in. Eius unde cupiditate autem exercitationem voluptas maiores dicta inventore ut quae, laboriosam voluptatem fuga corrupti perferendis placeat eligendi. Eligendi fugit impedit iusto commodi obcaecati doloribus consequuntur quae ipsa et molestiae id, aliquam cumque!
        .col-md-4(style="background:green") 3
